# Python 3.6.8 compatible dependencies (full authenticated editing service)
#   python3 -m pip install -r server/requirements-py36.txt
# Verified on Python 3.6.8 (Linux/Windows embedded): login, drafts, SVN commit all work.
Flask==2.0.3
Werkzeug==2.0.3
Jinja2==3.0.3
MarkupSafe==2.0.1
itsdangerous==2.0.1
click==8.0.4
blinker==1.4
waitress==2.0.0
# Backports required by Flask/Werkzeug on Python 3.6
dataclasses==0.8; python_version < "3.7"
importlib-metadata==4.8.3; python_version < "3.8"
zipp==3.6.0; python_version < "3.8"
typing-extensions==4.1.1; python_version < "3.8"
